header, .navbar {
    background-color: #353d41;
}

#logo{
    width: 75px;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

#navbar-links a{
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding:1rem .8rem;
}

.nav-item.active{
    border-bottom:3px solid #fff;
}

#dados_in{
    margin-top: 150px;
}


.main-title{
    color:#444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;

}

.about-title{
    font-size:17px ;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}

#about-list{
    list-style: none;
    padding-left: 0;
}

#about-list li{
 line-height: 30px;
}

#about-list i{
    color:#65daf9;
    margin-right: 15px;
}

.service-box{
    text-align: center;
    margin-bottom: 50px;
}

.service-box i, .service-box h4{
    transition: .5s;
}

.service-box i{
    font-size: 36px;
    margin-bottom: 20px;
    color: #444;
}

.service-box h4{
    font-size: 24px;
    margin-bottom: 20px;
}

.service-box:hover > i, .service-box:hover > h4{
    color: #65daf9;
}

#services-area{
    margin-top: 50px;
}

.card-body{
    text-align: center;
}

#news-area{
    text-align:center;
    background-color: #b2bae7;
}

#news-area p{
    font-size: 18px;
    margin-bottom: 40px;
}

#email-input{
    border-radius: 0px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border:1px solid #65daf9;
    display: inline;
    box-sizing: border-box;
    width: 40%;
    height: 40px;
}

#news-btn{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 1px solid #65daf9;
    background-color: #65daf9;
    text-transform: uppercase;
    color: #fff;
    height: 40px;
    padding: 0 30px;
    margin-left: -130px;
    position: absolute;
    transition: .5s;
}

#news-btn:hover{
    background-color: #fff;
    color: #65daf9;
}