header, .navbar {
    background-color: #353d41;
}

#logo{
    width: 75px;
}

#nav-container{
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand{
    padding: 0;
    color: #fff;
}

.navbar-brand:hover{
    color: #fff;
}

#navbar-links a{
    color: #fff;
}

.navbar-expand-lg .navbar-nav .nav-link{
    padding:1rem .8rem;
}

.nav-item.active{
    border-bottom:3px solid #fff;
}

#dados_in{
    margin-top: 150px;
}


.main-title{
    color:#444;
    margin: 0 0 65px 0;
    font-size: 40px;
    text-align: center;

}

.about-title{
    font-size:17px ;
    color: #444;
    text-transform: uppercase;
    font-weight: bold;
}



